@import url("../css/fonts.css");

:root {
	--theme-color: #d66868;
}

* {
	text-rendering: geometricPrecision;
}

.disableScrollBar::-webkit-scrollbar{
	width: 0;
	height: 0;
}

div {
	user-select: none;
	font-family: 'Montserrat', sans-serif;
}

.backBackdrop {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 0;
}

.s_card_con {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	background-color: white;
	padding: 30px;
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 10px;
	font-family: 'Raleway';
	margin-top: 20px;
	padding-bottom: 20px;
}

.s_card {
	height: 320px;
	width: 240px;
	background-color: #f6f8ff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
	position: relative;
	background-position: center;
	background-size: cover;
	display: inline-block;
	margin: 10px;
	user-select: none;
	white-space: nowrap;
}

/* CSS-TODO */
.s_card_img_search {
	left: 0px;
	height: 100%;
	width: 100%;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 10px 2px #0000003d;
	position: absolute;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.s_card_bg {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

.s_card_title {
	position: absolute;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	width: 100%;
	text-align: left;
	top: 0;
	height: calc(100% - 70px);
	overflow-y: auto;
	box-sizing: border-box;
	padding: 10px;
	padding-top: 35px;
	color: white;
	font-weight: 600;
}

.s_card_title_main {
	width: 100%;
	white-space: pre-wrap;
	overflow: hidden;
	max-height: 32px;
	line-height: 18px;
	text-underline-offset: 1px;
	text-overflow: ellipsis;
}

@supports (display: -webkit-box) and (-webkit-line-clamp: 3) and (-webkit-box-orient: vertical) {
	.s_card_title_main {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		max-height: none;
	}
}

.card_menu_item {
	display: inline-block;
	margin-right: 10px;
	height: 40px;
    width: 40px;
	border-radius: 100%;
    background-color: #1b1b1b;
	background-size: 40% 40%;
	background-position: center;
	background-repeat: no-repeat;
	transition-duration: 0.2s;
}

.card_menu_icon_delete {
	background-image: url("data:image/svg+xml,%0A%3Csvg height='427pt' fill='white' viewBox='-40 0 427 427.00131' width='427pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3Cpath d='m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0'/%3E%3Cpath d='m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0'/%3E%3C/svg%3E");
}

.card_menu_icon_add {
	margin: 0 !important;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%0A%3Csvg height='426.66667pt' fill='white' viewBox='0 0 426.66667 426.66667' width='426.66667pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 -3-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 0.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0'/%3E%3C/svg%3E");
}

.card_menu_icon_image {
	background-image: url("data:image/svg+xml,%0A%3Csvg height='511pt' fill='white' viewBox='0 -21 511.98744 511' width='511pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m377.652344 469.828125c-4.03125 0-8.148438-.511719-12.226563-1.578125l-329.898437-88.34375c-25.449219-7.019531-40.617188-33.34375-33.960938-58.773438l36.265625-139.070312c2.21875-8.535156 10.945313-13.71875 19.519531-11.433594 8.535157 2.21875 13.675782 10.964844 11.4375 19.519532l-36.269531 139.09375c-2.238281 8.574218 2.859375 17.425781 11.394531 19.773437l329.707032 88.300781c8.46875 2.238282 17.214844-2.796875 19.433594-11.222656l11.261718-45.441406c2.136719-8.574219 10.796875-13.78125 19.371094-11.6875 8.578125 2.132812 13.804688 10.792968 11.691406 19.367187l-11.304687 45.65625c-5.699219 21.609375-25.152344 35.839844-46.421875 35.839844zm0 0'/%3E%3Cpath d='m463.988281 341.828125h-330.667969c-26.472656 0-48-21.527344-48-48v-245.335937c0-26.472657 21.527344-48 48-48h330.667969c26.472657 0 48 21.527343 48 48v245.335937c0 26.472656-21.527343 48-48 48zm-330.667969-309.335937c-8.832031 0-16 7.167968-16 16v245.335937c0 8.832031 7.167969 16 16 16h330.667969c8.832031 0 16-7.167969 16-16v-245.335937c0-8.832032-7.167969-16-16-16zm0 0'/%3E%3Cpath d='m191.988281 149.828125c-23.53125 0-42.667969-19.136719-42.667969-42.667969s19.136719-42.667968 42.667969-42.667968 42.664063 19.136718 42.664063 42.667968-19.132813 42.667969-42.664063 42.667969zm0-53.335937c-5.890625 0-10.667969 4.78125-10.667969 10.667968 0 5.886719 4.777344 10.667969 10.667969 10.667969 5.886719 0 10.664063-4.78125 10.664063-10.667969 0-5.886718-4.777344-10.667968-10.664063-10.667968zm0 0'/%3E%3Cpath d='m101.746094 320.066406c-4.09375 0-8.191406-1.558594-11.304688-4.691406-6.25-6.25-6.25-16.386719 0-22.636719l96.425782-96.425781c14.59375-14.59375 38.335937-14.59375 52.90625 0l25.792968 25.792969 79.230469-95.105469c7.082031-8.492188 17.472656-13.398438 28.503906-13.460938 11.859375-.660156 21.460938 4.734376 28.605469 13.121094l106.199219 123.902344c5.757812 6.699219 4.96875 16.8125-1.730469 22.570312-6.71875 5.761719-16.808594 4.972657-22.570312-1.726562l-106.238282-123.945312c-1.410156-1.6875-3.136718-1.601563-4.097656-1.902344-.914062 0-2.6875.277344-4.09375 1.941406l-90.453125 108.589844c-2.882813 3.453125-7.082031 5.546875-11.5625 5.738281-4.566406.253906-8.875-1.496094-12.035156-4.671875l-38.183594-38.1875c-2.710937-2.710938-4.949219-2.710938-7.660156 0l-96.425781 96.40625c-3.117188 3.132812-7.210938 4.691406-11.308594 4.691406zm0 0'/%3E%3C/svg%3E");
}

.card_menu_icon_watched {
	background-image: url("data:image/svg+xml,%0A%3Csvg id='Capa_1' fill='white' enable-background='new 0 0 515.556 515.556' height='512' viewBox='0 0 515.556 515.556' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z'/%3E%3C/svg%3E");
}

.card_menu_icon_anilist{
    background-image: url("data:image/svg+xml,%3Csvg role='img' fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EAniList%3C/title%3E%3Cpath d='M6.361 2.943L0 21.056h4.942l1.077-3.133H11.4l1.052 3.133H22.9c.71 0 1.1-.392 1.1-1.101V17.53c0-.71-.39-1.101-1.1-1.101h-6.483V4.045c0-.71-.392-1.102-1.101-1.102h-2.422c-.71 0-1.101.392-1.101 1.102v1.064l-.758-2.166zm2.324 5.948l1.688 5.018H7.144z'/%3E%3C/svg%3E");
}

.s_card_play {
	position: absolute;
	bottom: 30px;
	right: 20px;
	height: 40px;
	width: 40px;
	background-color: white;
	border-radius: 100%;
	background-image: url("data:image/svg+xml,%0A%3Csvg version='1.1' fill='black' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='163.861px' height='163.861px' viewBox='0 0 163.861 163.861' style='enable-background:new 0 0 163.861 163.861;fill:black;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275 c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-size: 40% 40%;
	background-position: center;
	background-repeat: no-repeat;
	transition-duration: 0.2s;
}

.con_main {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
	z-index: 100;
	display: flex;
	align-items: center;
	overflow-y: auto;
	display: none;
}

.close_con {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
	background: white;
	background-image: url("data:image/svg+xml,%0A%3Csvg height='426.66667pt' fill='black' viewBox='0 0 426.66667 426.66667' width='426.66667pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0'/%3E%3C/svg%3E");
	background-size: 20px 20px;
	background-position: center;
	border-radius: 20px;
	background-repeat: no-repeat;
	transform: rotate(-45deg);
}

.box_input {
	height: 80px;
	max-width: 600px;
	width: calc(100% - 50px);
	outline: none;
	border: 0;
	border-radius: 45px;
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
	font-size: 15px;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	box-shadow: 6px 7px 0px 0px #2f2c42;
	color: black;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}

#con_11 {
	overflow-y: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#mainCon {
	overflow-y: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Used by homepage and episode */
.episodesProgressCon {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
	width: calc(100% - 20px);
	height: 5px;
	border-radius: 5px;
	background-color: #ffffff3d;
	overflow: hidden;
}

.episodesProgress {
	background-color: #ffffff;
	height: 100%;
	width: 0%;
}

.episodesCon {
	width: 100%;
	max-width: 600px;
	display: flex;
	align-items: center;
	justify-content: top;
	background-color: rgba(36, 36, 36, 0);
	box-sizing: border-box;
	padding: 15px;
	margin: 15px auto 15px auto;
}

.episodesDownloaded {
	height: 40px;
	width: 40px;
	margin: 10px;
	flex-shrink: 0;
	border-radius: 100%;
	background-color: white;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z'/%3E%3C/svg%3E");
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.episodesRetry {
	height: 40px;
	width: 40px;
	margin: 10px;
	flex-shrink: 0;
	border-radius: 100%;
	background-color: white;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3C/svg%3E");
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* END */


/* Toggle */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* END */

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	border: 3px solid white;
	box-sizing: content-box;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 23px;
	width: 23px;
	left: 2px;
	bottom: 2.25px;
	background-color: white;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}


.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


.accessTable {
	display: table;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	border-spacing: 16px;
	border-collapse: separate;
}

.accessItem {
	padding: 15px;
	display: table-row;
	text-align: left;
}

.tableCell {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 0 10px 0;
}

.tableCellNoPadding {
	padding: 0 !important;
}

.range-input {
	width: 100%;
	min-width: 150px;
	display: inline-block;
	background-color: #eee;
	padding: 25px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	align-items: center;
	border-radius: 10px;
	box-sizing: border-box;
	vertical-align: middle;
}

.range-input input {
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	width: 100%;
	background-color: #4471ef;
	outline: none;
	vertical-align: middle;
}

.range-input input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #eee;
	border: 2px solid #4471ef;
	border-radius: 50%;
	outline: none;
}

.range-input input::-webkit-slider-thumb:hover {
	background-color: #4471ef;
}


.sliderMenu input {
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	width: 100%;
	background-color: #4471ef;
	outline: none;
	vertical-align: middle;
}

.sliderMenu input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #eee;
	border: 2px solid #4471ef;
	border-radius: 50%;
	outline: none;
}

.sliderMenu input::-webkit-slider-thumb:hover {
	background-color: #4471ef;
}


.hozCon {
	width: 100%;
	display: flex;
	align-items: center;
}

#categoriesCon {
	min-height: 60px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	margin: 10px 0 10px 0;
}

.categories {
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	margin: 5px;
	display: inline-block;
	border-radius: 30px;
	background-color: transparent;
	border: 0px solid white;
	color: #a2a2a2;
	padding: 10px 20px 10px 20px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	z-index: 10;
	transition-duration: 0.2s;

}

.categories.activeCat {
	background-color: transparent !important;
	color: #999ce7 !important;

}

.categoriesDataMain {
	width: 100%;
	display: none;
	height: 100%;
	flex-flow: row wrap;
	justify-content: center;
	position: relative;
	/* align-items: center; */
}

.categoriesDataMain.closed > div {
    display: none !important;
}

.displayCon.closed{
	display: none !important;
}

#catActive {
	position: relative;
	line-height: 0;
	top: 5px;
	height: 0;
	width: 0;
	z-index: 0;

}

#catActiveMain {
	transition-duration: 0.2s;
    background-color: transparent !important;
    border-top: 3px solid #999ce7;
    color: white !important;
}


.active {
	display: flex !important;
}

.snappedCustomRooms {
	scroll-snap-type: x mandatory;
	display: flex;
	flex-direction: row;
	overflow-y: hidden !important;
	overflow-x: auto;
	width: 100% !important;
	height: 100% !important;
}

.snappedCategoriesDataMain {
	min-width: 100%;
	width: 100%;
	display: block !important;
	text-align: center;
	scroll-snap-align: center;
	max-height: 100%;
	height: 100%;
	overflow-y: auto;
	scroll-snap-stop: always;
	flex-flow: row wrap;
	justify-content: center;
}

#custom_rooms {
	width: 100%;
	height: auto;
	overflow-y: auto;
}

#epListCon #custom_rooms {
	height: calc(100% - 60px) !important;
}

#epListCon .snappedCategoriesDataMain {
	display: block !important;
}

#errorPageCon {
	position: fixed;
	color: white;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	margin: 0;
	text-align: center;
	flex-direction: column;
	padding: 50px;
	box-sizing: border-box;
}

#errorPageCon.absolute {
	position: absolute !important;
}

#errorPageCon .icon {
	height: 40px;
	/* width: 30px; */
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: contain; */
	display: inline-block;
	margin: 7px;
	margin-top: 0px;
	opacity: 0.7;

	background-color: #3c3636;
	width: 40px;
	background-size: 60% 60%;
	border-radius: 20px;
}

#errorPageCon .icon.webview {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z'/%3E%3C/svg%3E");
}

#errorPageCon .icon.reload {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3C/svg%3E");
}

#errorPageCon .icon.search {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
}

#back {
	position: absolute;
	left: 10px;
	top: 10px;
	color: white;
	height: 60px;
	display: flex;
	align-items: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 25px;
}



#relations,
#recommendations {
	padding: 10px 15px;
	background-color: #ff6363;
	font-weight: bold;
	color: white;
	border-radius: 20px;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	display: none;
}

#relationsCon,
#recomCon,
#sourceCards {
	transition-duration: 200ms;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #000000;
	z-index: 1;
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
	height: 280px;
	display: none;
	border-radius: 10px 10px 0px 0px;
}

#relationsCon::-webkit-scrollbar,
#recomCon::-webkit-scrollbar,
#sourceCards::-webkit-scrollbar {
	height: 0;
	width: 0;
}

@media only screen and (max-width: 800px) {
	#imageDescCon {
		display: block;
		width: 100%;
		line-height: 13px;
		font-size: 13px;
	}

	.genreItem {
		font-size: 13px;
	}
}

.showCard {
	cursor: pointer;
	background-size: cover;
	background-position: center;
	display: inline-block;
	height: 220px;
	margin: 30px 15px;
	width: 220px;
	border-radius: 20px;
	position: relative;
	font-weight: 600;
}

.showBackdrop {
	border-radius: 20px;
	background-image: linear-gradient(#0000007a 0%, #000000e8 91%);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
	display: none;
	background-image: linear-gradient(0, black, #ffffff38);
}

.showName {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	white-space: normal;
}

#sourceChoice {
	transition-duration: 200ms;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 280px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 6;
	border-radius: 10px 10px 0px 0px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#relationsCon,
#recomCon {
	z-index: 5;
	display: none;
}

#sourceCards {
	z-index: 7;
	display: none;
}

.showLabel {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 15px;
	font-weight: normal;
	padding: 5px 10px;
	background-color: white;
	color: black;
	font-size: 14px;
	display: inline-block;
}


#metadata {
	color: white;
	margin-top: 30px;
	margin-bottom: 10px;
	display: none;
}

.meta {
	background: white;
	padding: 10px 15px;
	border-radius: 20px;
	color: black;
	font-weight: bolder;
	margin: 5px;
	display: none;
}

.filler{
	background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    display: inline-table;
    margin-right: 5px;
    margin-bottom: 4px;
}

.menuItem.selected .filler{
	background-color: black;
    color: white;
}

.episodesCon.episodesSelected .filler{
	background-color: black;
    color: white;
}